[submodule "build/vendored/voicevox_engine"]
	path = build/vendored/voicevox_engine
	url = git@github.com:voicevox/voicevox_engine
[submodule "build/vendored/voicevox_nemo_resource"]
	path = build/vendored/voicevox_nemo_resource
	url = git@github.com:voicevox/voicevox_nemo_resource
