.DS_Store
node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/
/test-results/*
/playwright-report/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*storybook.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron-builder output
/dist_electron

# data
data/

# development
.env

# release
electron-builder.yml

# generated licenses.json
/*licenses.json

# Storybook
storybook-static/

# Preview Build Output
dist_preview/

# Downloaded binaries
vendored
