@use './variables' as vars;
@use './colors' as colors;

// 優先度を強引に上げる
body:not(#dummy) {
  user-select: none;
  border-left: solid #{vars.$window-border-width} #{colors.$header-background};
  border-right: solid #{vars.$window-border-width} #{colors.$header-background};
  border-bottom: solid #{vars.$window-border-width} #{colors.$header-background};
  color: colors.$display;
  background: colors.$background;
}

img {
  pointer-events: none;
}

// スクロールバーのデザイン
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(colors.$primary-light-rgb, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(colors.$primary-light-rgb, 0.6);
  border-radius: 5px;
  &:hover {
    background-color: rgba(colors.$primary-light-rgb, 0.7);
  }
  &:active {
    background-color: rgba(colors.$primary-light-rgb, 0.8);
  }
}
::-webkit-scrollbar-corner {
  background: colors.$background;
}

#app {
  display: flex;
  flex-direction: column;
}

.relative-absolute-wrapper {
  position: relative;
  > div {
    position: absolute;
    inset: 0;
  }
}

// ホバー色
.q-hoverable {
  &:hover > .q-focus-helper {
    background-color: colors.$primary !important;
    opacity: 0.3 !important;
  }
  &.bg-primary:hover > .q-focus-helper {
    background-color: colors.$background !important;
    opacity: 0.2 !important;
  }
}

// リプル色
.q-ripple > .q-ripple__inner {
  background-color: colors.$primary;
}
.bg-primary > .q-ripple > .q-ripple__inner {
  background-color: colors.$background;
}

// 無効時の色
.q-btn {
  &.disabled {
    opacity: 0.6 !important;
  }
}

// ダイアログ
.q-dialog,
#q-loading {
  .q-dialog__backdrop,
  .q-dialog__inner,
  .q-loading,
  .q-loading__backdrop {
    top: vars.$menubar-height;
    left: vars.$window-border-width;
    right: vars.$window-border-width;
    bottom: vars.$window-border-width;
  }
  .q-layout-container {
    box-shadow: none;
  }
}

.transparent-backdrop > .q-dialog__backdrop {
  background: transparent; // デフォルトの設定だと全画面ダイアログが出る際に黒背景がちらつく
}

// 設定とかのヘッダーの色
.q-layout__section--marginal {
  background: colors.$header-background !important; // bg-primaryも!importantでゴリ押してるので許される
}

// Markdown
.markdown-body {
  min-height: max-content;
  color: colors.$markdown-color;
  background: colors.$markdown-background;
  a {
    color: colors.$markdown-hyperlink;
  }
}
.markdown {
  // h1-h6のスタイルをデフォルトに戻す
  // https://www.w3schools.com/tags/tag_hn.asp
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h1 {
    font-size: 2rem;
    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 0.83rem;
    margin-bottom: 0.83rem;
  }
  h3 {
    font-size: 1.17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1rem;
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }
  h5 {
    font-size: 0.83rem;
    margin-top: 1.67rem;
    margin-bottom: 1.67rem;
  }
  h6 {
    font-size: 0.67rem;
    margin-top: 2.33rem;
    margin-bottom: 2.33rem;
  }
}

// カラー
.text-primary-light {
  color: colors.$primary-light;
}
.bg-primary-light {
  background: colors.$primary-light;
}

.text-display {
  color: colors.$display;
}
.bg-display {
  background: colors.$display;
}

.text-display-light {
  color: colors.$display-light;
}
.bg-display-light {
  background: colors.$display-light;
}

.text-display-dark {
  color: colors.$display-dark;
}
.bg-display-dark {
  background: colors.$display-dark;
}

.text-background {
  color: colors.$background;
}
.bg-background {
  background: colors.$background;
}

.text-background-light {
  color: colors.$background-light;
}
.bg-background-light {
  background: colors.$background-light;
}

.text-setting-item {
  color: colors.$setting-item;
}
.bg-setting-item {
  background: colors.$setting-item;
}

.text-warning {
  color: colors.$warning;
}
.bg-warning {
  background: colors.$warning;
}

.text-button-icon {
  color: colors.$button-icon;
}
.bg-button-icon {
  background: colors.$button-icon;
}

.text-header-background {
  color: colors.$header-background;
}
.bg-header-background {
  background: colors.$header-background;
}

.text-header-selected {
  color: colors.$header-selected;
}
.bg-header-selected {
  background: colors.$header-selected;
}
