$primary: #a5d4ad;
$secondary: #212121;
$accent: #ffffff;
$info: #eeeeee;
$positive: #a5d4ad;

$window-border-width: 2px;

$header-height: 66px;
$menubar-height: 24px;

$detail-view-splitter-cell-z-index: 2;
