$primary: var(--color-primary);
$primary-rgb: var(--color-primary-rgb);

$primary-light: var(--color-primary-light);
$primary-light-rgb: var(--color-primary-light-rgb);

$display: var(--color-display);
$display-rgb: var(--color-display-rgb);

$display-light: var(--color-display-light);
$display-light-rgb: var(--color-display-light-rgb);

$display-dark: var(--color-display-dark);
$display-dark-rgb: var(--color-display-dark-rgb);

$background: var(--color-background);
$background-rgb: var(--color-background-rgb);

$background-light: var(--color-background-light);
$background-light-rgb: var(--color-background-light-rgb);

$setting-item: var(--color-setting-item);
$setting-item-rgb: var(--color-setting-item-rgb);

$warning: var(--color-warning);
$warning-rgb: var(--color-warning-rgb);

$markdown-color: var(--color-markdown-color);
$markdown-color-rgb: var(--color-markdown-color-rgb);

$markdown-background: var(--color-markdown-background);
$markdown-background-rgb: var(--color-markdown-background-rgb);

$markdown-hyperlink: var(--color-markdown-hyperlink);
$markdown-hyperlink-rgb: var(--color-markdown-hyperlink-rgb);

$header-selected: var(--color-header-selected);
$header-selected-rgb: var(--color-header-selected-rgb);

$pause-hovered: var(--color-pause-hovered);
$pause-hovered-rgb: var(--color-pause-hovered-rgb);

$active-point-focus: var(--color-active-point-focus);
$active-point-focus-rgb: var(--color-active-point-focus-rgb);

$active-point-focus-hover: var(--color-active-point-focus-hover);
$active-point-focus-hover-rgb: var(--color-active-point-focus-hover-rgb);

$button-icon: var(--color-button-icon);
$button-icon-rgb: var(--color-button-icon-rgb);

$header-background: var(--color-header-background);
$header-background-rgb: var(--color-header-background-rgb);
