$primary: var(--color-primary);
$primary-rgb: var(--color-primary-rgb);

$primary-light: var(--color-primary-light);
$primary-light-rgb: var(--color-primary-light-rgb);

$display: var(--color-display);
$display-rgb: var(--color-display-rgb);

$display-light: var(--color-display-light);
$display-light-rgb: var(--color-display-light-rgb);

$display-dark: var(--color-display-dark);
$display-dark-rgb: var(--color-display-dark-rgb);

$background: var(--color-background);
$background-rgb: var(--color-background-rgb);

$background-light: var(--color-background-light);
$background-light-rgb: var(--color-background-light-rgb);

$setting-item: var(--color-setting-item);
$setting-item-rgb: var(--color-setting-item-rgb);

$warning: var(--color-warning);
$warning-rgb: var(--color-warning-rgb);

$markdown-color: var(--color-markdown-color);
$markdown-color-rgb: var(--color-markdown-color-rgb);

$markdown-background: var(--color-markdown-background);
$markdown-background-rgb: var(--color-markdown-background-rgb);

$markdown-hyperlink: var(--color-markdown-hyperlink);
$markdown-hyperlink-rgb: var(--color-markdown-hyperlink-rgb);

$pause-hovered: var(--color-pause-hovered);
$pause-hovered-rgb: var(--color-pause-hovered-rgb);

$active-point-focus: var(--color-active-point-focus);
$active-point-focus-rgb: var(--color-active-point-focus-rgb);

$active-point-focus-hover: var(--color-active-point-focus-hover);
$active-point-focus-hover-rgb: var(--color-active-point-focus-hover-rgb);

$button-icon: var(--color-button-icon);
$button-icon-rgb: var(--color-button-icon-rgb);

// ダークモードと通常モードで変わる色
:root {
  --color-header: var(--color-primary);
  --color-header-rgb: var(--color-primary-rgb);

  --color-header-button: var(--color-background);
  --color-header-button-rgb: var(--color-background-rgb);

  --color-header-button-display: var(--color-display);
  --color-header-button-display-rgb: var(--color-display-rgb);

  --color-splitter: var(--color-primary);
  --color-splitter-rgb: var(--color-primary-rgb);
}

:root[is-dark-theme="true"] {
  --color-header: var(--color-setting-item);
  --color-header-rgb: var(--color-setting-item-rgb);

  --color-header-button: var(--color-primary);
  --color-header-button-rgb: var(--color-primary-rgb);

  --color-header-button-display: var(--color-display-on-primary);
  --color-header-button-display-rgb: var(--color-display-on-primary-rgb);

  --color-splitter: var(--color-setting-item);
  --color-splitter-rgb: var(--color-setting-item-rgb);
}

$header: var(--color-header);
$header-rgb: var(--color-header-rgb);

$header-button: var(--color-header-button);
$header-button-rgb: var(--color-header-button-rgb);

$header-button-display: var(--color-header-button-display);
$header-button-display-rgb: var(--color-header-button-display-rgb);

$splitter: var(--color-splitter);
$splitter-rgb: var(--color-splitter-rgb);
