$primary: var(--color-primary);
$primary-rgb: var(--color-primary-rgb);

$primary-light: var(--color-primary-light);
$primary-light-rgb: var(--color-primary-light-rgb);

$display: var(--color-display);
$display-rgb: var(--color-display-rgb);

$display-light: var(--color-display-light);
$display-light-rgb: var(--color-display-light-rgb);

$display-dark: var(--color-display-dark);
$display-dark-rgb: var(--color-display-dark-rgb);

$background: var(--color-background);
$background-rgb: var(--color-background-rgb);

$surface: var(--color-surface);
$surface-rgb: var(--color-surface-rgb);

$warning: var(--color-warning);
$warning-rgb: var(--color-warning-rgb);

$markdown-color: var(--color-markdown-color);
$markdown-color-rgb: var(--color-markdown-color-rgb);

$markdown-background: var(--color-markdown-background);
$markdown-background-rgb: var(--color-markdown-background-rgb);

$markdown-hyperlink: var(--color-markdown-hyperlink);
$markdown-hyperlink-rgb: var(--color-markdown-hyperlink-rgb);

$pause-hovered: var(--color-pause-hovered);
$pause-hovered-rgb: var(--color-pause-hovered-rgb);

$active-point-focus: var(--color-active-point-focus);
$active-point-focus-rgb: var(--color-active-point-focus-rgb);

$active-point-focus-hover: var(--color-active-point-focus-hover);
$active-point-focus-hover-rgb: var(--color-active-point-focus-hover-rgb);

$button-icon: var(--color-button-icon);
$button-icon-rgb: var(--color-button-icon-rgb);

// ダークモードと通常モードで変わる色
:root {
  --color-toolbar: var(--color-primary);
  --color-toolbar-rgb: var(--color-primary-rgb);

  --color-toolbar-button: var(--color-background);
  --color-toolbar-button-rgb: var(--color-background-rgb);

  --color-toolbar-button-display: var(--color-display);
  --color-toolbar-button-display-rgb: var(--color-display-rgb);

  --color-splitter: var(--color-primary);
  --color-splitter-rgb: var(--color-primary-rgb);
}

:root[is-dark-theme="true"] {
  --color-toolbar: var(--color-surface);
  --color-toolbar-rgb: var(--color-surface-rgb);

  --color-toolbar-button: var(--color-primary);
  --color-toolbar-button-rgb: var(--color-primary-rgb);

  --color-toolbar-button-display: var(--color-display-on-primary);
  --color-toolbar-button-display-rgb: var(--color-display-on-primary-rgb);

  --color-splitter: var(--color-surface);
  --color-splitter-rgb: var(--color-surface-rgb);
}

$toolbar: var(--color-toolbar);
$toolbar-rgb: var(--color-toolbar-rgb);

$toolbar-button: var(--color-toolbar-button);
$toolbar-button-rgb: var(--color-toolbar-button-rgb);

$toolbar-button-display: var(--color-toolbar-button-display);
$toolbar-button-display-rgb: var(--color-toolbar-button-display-rgb);

$splitter: var(--color-splitter);
$splitter-rgb: var(--color-splitter-rgb);
