@font-face {
  font-family: "Rounded M+ 1p";
  src: url("../fonts/rounded-mplus-1p-regular.ttf");

  font-weight: normal;
}

@font-face {
  font-family: "Rounded M+ 1p";
  src: url("../fonts/rounded-mplus-1p-bold.ttf");

  font-weight: bold;
}
