@font-face {
  font-family: "Unhinted Rounded M+ 1p";
  src: url("../fonts/unhinted-rounded-mplus-1p-regular.woff2");

  font-weight: normal;
}

@font-face {
  font-family: "Unhinted Rounded M+ 1p";
  src: url("../fonts/unhinted-rounded-mplus-1p-medium.woff2");

  font-weight: medium;
}

@font-face {
  font-family: "Unhinted Rounded M+ 1p";
  src: url("../fonts/unhinted-rounded-mplus-1p-bold.woff2");

  font-weight: bold;
}
