$window-border-width: 2px;

$header-height: 66px;
$menubar-height: 24px;

$detail-view-splitter-cell-z-index: 2;

$character-item-size: 215px; // キャラクター並び替えダイアログなどでの１キャラ表示要素の横幅

:root {
  --size-basis: 8px;
  --padding-basis: 8px;
  --gap-basis: 8px;
  --radius-basis: 8px;
}

$size-scrollbar: calc(var(--size-basis) * 1.5);
$size-icon: calc(var(--size-basis) * 2);
$size-indicator: calc(var(--size-basis) * 3);
$size-control: calc(var(--size-basis) * 4);
$size-listitem: calc(var(--size-basis) * 5);
$size-fab: calc(var(--size-basis) * 6);

$padding-1: var(--padding-basis);
$padding-2: calc(var(--padding-basis) * 2);

$gap-1: var(--gap-basis);
$gap-2: calc(var(--gap-basis) * 2);

$radius-1: var(--radius-basis);
$radius-2: calc(var(--radius-basis) * 2);

$transition-duration: 100ms;
