$window-border-width: 2px;

$header-height: 66px;
$menubar-height: 24px;

$detail-view-splitter-cell-z-index: 2;

$character-item-size: 215px; // キャラクター並び替えダイアログなどでの１キャラ表示要素の横幅

$size-scrollbar: 8px;
$size-icon: 16px;
$size-indicator: 24px;
$size-control: 32px;
$size-listitem: 40px;
$size-fab: 48px;

$padding-control: 8px;
$padding-button: 16px;
$padding-container: 16px;

$gap-control: 8px;
$gap-container: 16px;

$radius-control: 8px;
$radius-container: 16px;

$transition-duration: 100ms;
