:root {
  --size-basis: 8px;
  --padding-basis: 8px;
  --gap-basis: 8px;
  --radius-basis: 8px;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --input-m-size: calc(var(--size-basis) * 5);
  --input-l-size: calc(var(--size-basis) * 7);

  --label-l-size: calc(var(--size-basis) * 1.75);
  --label-m-size: calc(var(--size-basis) * 1.5);
  --label-s-size: calc(var(--size-basis) * 1.25);

  --border-width-basis: 1px;

  --opacity-medium: 0.87;
  --opacity-low: 0.6;
  --opacity-separator: 0.5;
  --opacity-disabled: 0.38;
}

$size-scrollbar: calc(var(--size-basis) * 1.5);
$size-icon: calc(var(--size-basis) * 2);
$size-indicator: calc(var(--size-basis) * 3);
$size-control: calc(var(--size-basis) * 4);
$size-listitem: calc(var(--size-basis) * 5);
$size-fab: calc(var(--size-basis) * 6);

$padding-1: var(--padding-basis);
$padding-2: calc(var(--padding-basis) * 2);

$gap-1: var(--gap-basis);
$gap-2: calc(var(--gap-basis) * 2);

$radius-1: var(--radius-basis);
$radius-2: calc(var(--radius-basis) * 2);

$transition-duration: 100ms;

$z-index-tooltip: 9999;
