name: Test

on:
  push:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

env:
  VOICEVOX_ENGINE_REPO: "VOICEVOX/voicevox_nemo_engine" # 軽いのでNemoを使う
  VOICEVOX_ENGINE_VERSION: "0.14.0"
  VOICEVOX_ENGINE_HOST: "http://127.0.0.1:50121"

defaults:
  run:
    shell: bash

jobs:
  # ビルドのテスト
  build-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup environment
        uses: ./.github/actions/setup-environment
      - run: npm run electron:build_pnever

  # unit テスト
  unit-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - run: npm run test:unit

  # e2e テスト
  e2e-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            voicevox_engine_asset_name: linux-cpu
          - os: macos-latest
            voicevox_engine_asset_name: macos-x64
          - os: windows-latest
            voicevox_engine_asset_name: windows-cpu
    steps:
      - uses: actions/checkout@v3
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install xvfb and x11-xserver-utils
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb x11-xserver-utils # for electron
          sudo apt-get install -y libsndfile1 # for engine

      - name: Download VOICEVOX ENGINE
        id: download-engine
        uses: ./.github/actions/download-engine
        with:
          repo: ${{ env.VOICEVOX_ENGINE_REPO }}
          version: ${{ env.VOICEVOX_ENGINE_VERSION }}
          dest: ${{ github.workspace }}/voicevox_engine
          target: ${{ matrix.voicevox_engine_asset_name }}

      - name: Setup run.exe and .env
        run: |
          chmod +x ${{ steps.download-engine.outputs.run_path }}

          cp .env.test .env
          sed -i -e 's|"../voicevox_engine/run.exe"|"${{ steps.download-engine.outputs.run_path }}"|' .env
          set -i -e 's|"http://127.0.0.1:50021"|"${{ env.VOICEVOX_ENGINE_HOST }}"|' .env

      - name: Run npm run test:browser-e2e
        run: |
          if [ -n "${{ runner.debug }}" ]; then
            export DEBUG="pw:browser*"
          fi
          if [[ ${{ matrix.os }} == ubuntu-* ]]; then
            xvfb-run --auto-servernum npm run test:browser-e2e
          else
            npm run test:browser-e2e
          fi

      - name: Run npm run test:electron-e2e
        run: |
          if [ -n "${{ runner.debug }}" ]; then
            export DEBUG="pw:browser*"
          fi
          if [[ ${{ matrix.os }} == ubuntu-* ]]; then
            xvfb-run --auto-servernum npm run test:electron-e2e
          else
            npm run test:electron-e2e
          fi

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Disallowed licenses check
        run: npm run license:generate -- -o voicevox_licenses.json

      - run: npm run typecheck
      - run: npm run lint
      - run: npm run markdownlint
