name: Test

on:
  push:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    env:
      ELECTRON_CACHE: .cache/electron
      ELECTRON_BUILDER_CACHE: .cache/electron-builder
      cache-version: v2
    steps:
      - uses: actions/checkout@v3
      - id: node-version
        run: echo "NODE_VERSION=$(cat .node-version)" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v3
        with:
          node-version: "${{ steps.node-version.outputs.NODE_VERSION }}"

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ env.cache-version }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ env.cache-version }}-node-

      - name: Cache Electron
        uses: actions/cache@v3
        with:
          path: ${{ env.ELECTRON_CACHE }}
          key: ${{ env.cache-version }}-${{ runner.os }}--electron-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ env.cache-version }}-${{ runner.os }}--electron-cache-

      - name: Cache Electron-Builder
        uses: actions/cache@v3
        with:
          path: ${{ env.ELECTRON_BUILDER_CACHE }}
          key: ${{ env.cache-version }}-${{ runner.os }}--electron-builder-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ env.cache-version }}-${{ runner.os }}--electron-builder-cache-

      - name: Cache node_modules
        uses: actions/cache@v3
        id: cache-node-modules
        with:
          path: node_modules
          key: ${{ env.cache-version }}-${{ runner.os }}--node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ env.cache-version }}-${{ runner.os }}--node-modules-
      - run: cp package-lock.json package-lock.json.bak
      - run: npm i
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
      - run: npm ci
        if: hashFiles('package-lock.json') != hashFiles('package-lock.json.bak')
      - run: npm run typecheck
      - run: npm run lint
      - run: npm run markdownlint
      - run: npm run test:unit
      - run: npm run electron:build_pnever
