name: Test

on:
  push:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

env:
  VOICEVOX_ENGINE_REPO: "VOICEVOX/voicevox_nemo_engine" # 軽いのでNemoを使う
  VOICEVOX_ENGINE_VERSION: "0.14.0"

defaults:
  run:
    shell: bash

jobs:
  config: # 全 jobs で利用する定数の定義. `env` が利用できないコンテキストでも利用できる.
    runs-on: ubuntu-latest
    outputs:
      shouldUpdateSnapshots: ${{ steps.check-whether-to-update-snapshots.outputs.shouldUpdateSnapshots }}
    steps:
      - name: Check if commit message includes [update snapshots]
        id: check-whether-to-update-snapshots
        uses: actions/github-script@v7
        with:
          script: |
            const commits = ${{ toJson(github.event.commits) }};
            if (!commits) {
              // pull_request などでコミットがない場合はスキップ
              core.setOutput("shouldUpdateSnapshots", false);
              process.exit(0);
            }
            const shouldUpdateSnapshots = commits.some((commit) =>
              commit.message.toLowerCase().includes("[update snapshots]")
            );
            core.setOutput("shouldUpdateSnapshots", shouldUpdateSnapshots);
            console.log(`shouldUpdateSnapshots: ${shouldUpdateSnapshots}`);

  # ビルドのテスト
  build-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/setup-environment
      - run: pnpm run electron:build

  # unit テスト
  unit-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Run test
        run: |
          pnpm run test:unit

  # e2e テスト
  e2e-test:
    runs-on: ${{ matrix.os }}
    needs: [config]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            voicevox_engine_asset_name: linux-cpu
          - os: macos-latest
            voicevox_engine_asset_name: macos-x64
          # TODO: voicevox_nemo_negineがarm64に対応したら変更する
          # - os: macos-latest
          #   voicevox_engine_asset_name: macos-arm64
          - os: windows-latest
            voicevox_engine_asset_name: windows-cpu
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install xvfb and x11-xserver-utils
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb x11-xserver-utils # for electron
          sudo apt-get install -y libsndfile1 # for engine

      - name: Download VOICEVOX ENGINE
        id: download-engine
        uses: ./.github/actions/download-engine
        with:
          repo: ${{ env.VOICEVOX_ENGINE_REPO }}
          version: ${{ env.VOICEVOX_ENGINE_VERSION }}
          dest: ${{ github.workspace }}/voicevox_engine
          target: ${{ matrix.voicevox_engine_asset_name }}

      - name: Run pnpm run test:browser-e2e
        run: |
          if [ -n "${{ runner.debug }}" ]; then
            export DEBUG="pw:browser*"
          fi
          ARGS=""
          if [[ ${{ needs.config.outputs.shouldUpdateSnapshots }} == 'true' ]]; then
            ARGS="--update-snapshots"
          fi
          pnpm run test:browser-e2e $ARGS

      - name: Run pnpm run test:electron-e2e
        run: |
          # .env
          cp tests/env/.env.test-electron .env
          sed -i -e 's|"path/to/engine"|"${{ steps.download-engine.outputs.run_path }}"|' .env
          # GitHub Actions 環境だとたまに50021が封じられていることがあるので、ランダムなポートを使うようにする
          PORT=$(node -r net -e "server=net.createServer();server.listen(0,()=>{console.log(server.address().port);server.close()})")
          sed -i -e 's|random_port|'$PORT'|' .env
          cat .env # ログ用

          if [ -n "${{ runner.debug }}" ]; then
            export DEBUG="pw:browser*"
          fi
          if [[ ${{ matrix.os }} == ubuntu-* ]]; then
            xvfb-run --auto-servernum pnpm run test:electron-e2e
          else
            pnpm run test:electron-e2e
          fi

          rm .env

      - name: Run pnpm run test:storybook-vrt
        run: |
          if [ -n "${{ runner.debug }}" ]; then
            export DEBUG="pw:browser*"
          fi
          ARGS=""
          if [[ ${{ needs.config.outputs.shouldUpdateSnapshots }} == 'true' ]]; then
            ARGS="--update-snapshots"
          fi
          pnpm run test:storybook-vrt $ARGS

      - name: Upload playwright report to artifact
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{ matrix.os }}
          path: playwright-report

      - name: Collect patch for snapshots
        if: needs.config.outputs.shouldUpdateSnapshots == 'true'
        run: |
          # ログ用
          git status

          # git diff に表示されるようにする
          git add --intent-to-add --all tests/
          git diff --binary HEAD tests/ > patch-${{ matrix.os }}.diff

      - name: Upload patch to artifact
        if: needs.config.outputs.shouldUpdateSnapshots == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: updated-snapshots-${{ matrix.os }}
          path: patch-${{ matrix.os }}.diff

  commit-snapshots:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [config, e2e-test]
    if: needs.config.outputs.shouldUpdateSnapshots == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          # NOTE: デフォルトの設定だとgithub-push-actionが動いてくれないので設定を変えている。
          # ref: https://github.com/ad-m/github-push-action/issues/44#issuecomment-581706892
          persist-credentials: false
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: updated-snapshots-*
          path: ${{ runner.temp }}/patches
          merge-multiple: true

      - name: Commit updated snapshots
        id: commit-updated-snapshots
        run: |
          # パッチを適用
          for patch in ${{ runner.temp }}/patches/*.diff; do
            git apply --allow-empty $patch
            rm $patch
          done

          # 変更があるかチェック
          if [ -n "$(git status --porcelain)" ]; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git add tests/
            git commit -m "（スナップショットを更新）"

            echo "changes_exist=true" >> $GITHUB_OUTPUT
          else
            echo "No changes to commit"

            echo "changes_exist=false" >> $GITHUB_OUTPUT
          fi

      - name: Push changes
        if: steps.commit-updated-snapshots.outputs.changes_exist == 'true'
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa
        with:
          github_token: ${{ secrets.PUSH_TOKEN || secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

      - name: Show warning if token is not set
        if: steps.commit-updated-snapshots.outputs.changes_exist == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const pushTokenProvided = `${{ secrets.PUSH_TOKEN }}` !== "";
            if (!pushTokenProvided) {
              core.warning(
                "スクリーンショットを更新したので、空コミットをプッシュしてテストを再実行してください。\n" +
                "PUSH_TOKENをSecretsに追加すると次からこの操作を省けます。\n" +
                "Secretsの設定方法はREADME.mdを参照してください。"
              );
            }
            console.log(`pushTokenProvided: ${pushTokenProvided}`);

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Disallowed licenses check
        run: pnpm run license:generate -o voicevox_licenses.json

      - run: pnpm run typecheck
      - run: pnpm run lint
      - run: pnpm run markdownlint
      - run: pnpm run typos
